.container {
    padding: 0;
    margin: 0;
}

.detailsnftcontainer {
    min-height: calc(100vh - 64px);
    max-height: 100%;
    background: linear-gradient(155deg, #000f3f, #843850, #0f022c);
}

.containerbtn {
    text-align: end;
    padding: 10px 20px;
    background: rgba(127, 127, 127, 0.496);
}

.sellBtnContainer {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    z-index: 10;
}

.sellbtn {
    justify-content: center;
    font-size: 15px;
    width: 162px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 17px 24px;
    background-color: #e15757f5;
    border: 2px solid #e15757ba;
    color: rgb(255, 255, 255);
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
}

.sellbtn:hover {
    opacity: 0.8;
}

.content {
    padding: 0px 0px 0px 140px;
    margin-top: 50px;
    display: flex;
    justify-content: start;
}

.nftimage {
    margin: 0px 20px;
    display: block;
    width: 400px;
    height: 600px;

}

.nftimage>img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.nameContract {
    font-size: 20px;
    color: rgb(32, 129, 226);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nftname {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}

.owned {
    color: rgb(112, 122, 131);
    font-size: 15px;
}

.owned span {
    color: rgb(32, 129, 226);
}

.containerDetail {
    /* margin: 70px; */
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(183, 183, 183);
    width: fit-content;
    border-radius: 12px;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;
}

.containerDetailHead {
    text-align: start;
    padding: 20px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.containerDetailHead p {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.containerDetailBody {
    padding: 0px 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    color: rgb(74, 74, 74);
}

.details a {
    margin-top: 20px;
    margin-bottom: 0;
    color: rgb(32, 129, 226);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(23, 23, 23, 0.4);
    padding-top: 100px;
}

.modalcontent {
    position: relative;
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(38, 38, 38, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modalhead {
    display: block;
    text-align: start;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.price {
    font-size: 20px;
    font-weight: 500;
}

.modalbody {
    display: flex;
    width: fit-content;
    margin-top: 10px;
}

.modalbody input {
    margin-left: 10px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
    font-size: 17px;
    padding: 5px 10px;
}


.updatebtn,
.deletebtn {
    justify-content: center;
    font-size: 13px;
    width: 140px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 15px;
    background-color: rgb(32, 129, 226);
    border: 2px solid rgb(32, 129, 226);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 20px 0.25rem;
}

.deletebtn {
    background-color: rgb(253, 45, 45);
    border: 2px solid rgb(253, 45, 45);
}

.updatebtn:hover {
    opacity: 0.8;
}

.deletebtn:hover {
    opacity: 0.8;
}

.waitingbtn {
    justify-content: center;
    font-size: 13px;
    width: fit-content;
    min-width: 140px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 15px;
    background-color: rgb(231, 231, 231);
    border: 2px solid rgb(231, 231, 231);
    color: rgb(101, 101, 101);
    border-radius: 12px;
    margin: 20px 10px;
}

.viewlistingbtn {
    justify-content: center;
    font-size: 13px;
    width: 500px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 15px;
    background-color: rgb(32, 129, 226);
    border: 2px solid rgb(32, 129, 226);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 20px 10px;
    cursor: pointer;
}

.viewlistingbtn:hover {
    opacity: 0.8;
}

.modalcontentFinished {
    position: relative;
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 50%;
    height: 530px;
    box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(38, 38, 38, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.imgFinished {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerSale {
    display: block;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(183, 183, 183);
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;
    position: relative;
}

.detailsSale {
    display: flex;
    color: rgb(74, 74, 74);
    margin-bottom: 10px;
}

.detailsSale h1 {
    margin: 0 10px;
}

.cancelbtn {
    justify-content: center;
    font-size: 13px;
    width: 140px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 15px;
    background-color: rgb(244, 244, 244);
    border: 2px solid rgb(201, 201, 201);
    color: rgb(32, 129, 226);
    border-radius: 12px;
    margin: 20px 10px;
    transition: all 0.5s;
}

.makeofferbtn {
    justify-content: center;
    font-size: 17px;
    width: 162px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 17px 24px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(201, 201, 201);
    color: rgb(32, 129, 226);
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 12px;
    transition: all 0.5s;
}

.cancelbtn:hover,
.makeofferbtn:hover {
    box-shadow: rgb(201, 201, 201) 2px 2px 8px 2px;
}

.arrow {
    width: 10px;
    margin-left: 10px;
}

.dropbtn {
    margin-top: 2px;
    background-color: transparent;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(122, 110, 170);
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s;
}

.logo {
    display: flex;
    align-items: center;
    border: 1px solid rgb(179, 179, 179);
    width: fit-content;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

.option {
    padding: 10px;
}

.createNft:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-image: url(/images/exchangebackground.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    filter: blur(1px);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.mainsection {
    height: 80vh;
    padding: 3rem;
}

.maincontainer {
    height: calc(100vh - 64px);
    padding-top: 5rem;
}

.isHidden {
    display: none;
}

.exchangebackground {
    height: calc(100vh - 64px);
    padding: 3rem;
    display: flex;
    transition: all 1s ease-in-out;

    background-image: url(/images/exchangebackground.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

.paperCarouselSlide.selectedslide {
    transition: all 1s ease-in-out;
}

.paperCarouselSlide.selectedslide::before {
    opacity: 1;
}

.paperCarouselSlide.selectedslide::after {
    opacity: 1;
}

.paperCarouselSlide::before {
    content: "";
    --borderWidth: 3px;
    --height: 11px;
    --width: 7px;
    --borderColor: #78b13f;
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
    position: absolute;
    top: 8px;
    right: 29px;
    z-index: 2;

    opacity: 0;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

.paperCarouselSlide::after {
    content: "";
    background: #ffffff;
    width: 19px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 23px;
    z-index: 1;

    opacity: 0;
    -webkit-transition: opacity 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out;
    -ms-transition: opacity 0.6s ease-in-out;
    -o-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

.customizeCardContent {
    background: #dcdcdccc;
    color: grey;
    font-weight: bold;
    font-size: 0.9rem;
}